python-dotenv==1.0.1
opencv-python==4.9.0.80
fastapi==0.110.0
uvicorn==0.28.0
SQLAlchemy==2.0.28
pymysql==1.1.0
#cryptograhy==42.0.5
python-multipart==0.0.9
numpy==1.24.4
websockets==12.0
ffmpeg-python==0.2.0
onnxruntime==1.16.3